{% extends "base.html" %}
{% load static %}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
        <nav id="navbar" class="nav-menu navbar">
            {% block page_content %}
            <nav id="navbar" class="nav-menu navbar">
            <ul>
          <li><a href="{% url 'base' %}" class=""><i class="bx bx-home"></i> <span>Home</span></a></li>


        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
    <section id="gallery" class="gallery section-bg">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="text-center">
            <h1>Registration Page!</h1>
            <div class="col-12 d-flex justify-content-center" >


            <div class="col-8">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}

                {% if form.errors %}
                <p>There are errors in the form!</p>
                {% endif %}

                {{ form }}

                <input type="submit" value="Register" class="btn btn-primary">
            </form>
        </div>
        </div>
    </section>
</body>

{% endblock %}