{% extends "base.html" %}
{% load static %}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
        <nav id="navbar" class="nav-menu navbar">
            {% block page_content %}
            <nav id="navbar" class="nav-menu navbar">
            <ul>
          <li><a href="{% url 'base' %}" class=""><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#2020" class="nav-link scrollto"><i class="bx bxs-right-arrow-square"></i> <span>2020</span></a></li>
          <li><a href="#2021" class="nav-link scrollto"><i class="bx bxs-right-arrow-square"></i> <span>2021</span></a></li>
          <li><a href="#2022" class="nav-link scrollto"><i class="bx bxs-right-arrow-square"></i> <span>2022</span></a></li>

        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

 <section id="gallery" class="gallery section-bg">




    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="text-center">
    <h2>Gallery</h2>
    </div>
          <div class="col-12 d-flex justify-content-center" >
            <div class="row photos ">
            {% for project in projects %}
            <div class="col-4">
            <section id="{{project.years}}" class="{{project.years}}">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="text-center">
                <h5 class="card-title ">{{ project.title }}</h5>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Look closer
                </a>
            </div>

            </section>
            </div>

            {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}

