{% extends "base.html" %}
{% load static %}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
        <nav id="navbar" class="nav-menu navbar">
            {% block page_content %}
            <nav id="navbar" class="nav-menu navbar">
            <ul>
          <li><a href="{% url 'base' %}" class=""><i class="bx bx-home"></i> <span>Home</span></a></li>


        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

 <section id="gallery" class="gallery section-bg">


    <div class="container">
    <div class="text-center">
        <h1>Idea maker</h1>
        <p>Are you bored? Here I can find you some idea to animate your free time.</p>

    </div>
    </section>
          <div class="col-12 d-flex justify-content-center" >
    <section>
      <h1>{{ activity }}</h1>
      <div class="refresh_button">
        <button onClick="window.location.reload();" class="btn btn-primary">Try another idea</button>
      </div>
    </section>
    </div>






</body>




{% endblock %}

