{% extends "base.html" %}
{% load static %}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
        <nav id="navbar" class="nav-menu navbar">
            {% block page_content %}
            <nav id="navbar" class="nav-menu navbar">
            <ul>
          <li><a href="{% url 'base' %}" class=""><i class="bx bx-home"></i> <span>Home</span></a></li>


        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

 <section id="gallery" class="gallery section-bg">


    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="text-center">
        <h1>Counter updater</h1>
        <p>I dont have code, but it was project for the company i was working for. Program download mails, read them, and write to excel informations about copiers. With simple GUI, we can select month for data to be written and choose excel file. </p>
    </div>

          <div class="col-12 d-flex justify-content-center" >


            <div class="col-6">

            <img class="card-img-top" src="{% static 'assets/img/portfolio/potato.png' %}">
            </div>



    </div>

 <p>I found parts of the code, so maybe it's ok to put if here. </p>


  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Saving mails
  </button>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">
    Filtering mails
  </button>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal3">
    Save to excel
  </button>

<p>This code is from 2019</p>

 </section>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">My code</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>



      <!-- Modal body -->
      <div class="modal-body">
          <pre>
import imaplib, email, os
import linecache
import xlwt
import glob
import os
import openpyxl
import password

user = password.user
password = password.password
imap_url = password.url

# sets up the auth
def auth(user,password,imap_url):
    con = imaplib.IMAP4_SSL(imap_url)
    con.login(user,password)
    return con
# extracts the body from the email
def get_body(msg):
    if msg.is_multipart():
        return get_body(msg.get_payload(0))
    else:
        return msg.get_payload(None,True)

#search for a particular email
def search(key,value,con):
    result, data  = con.search(None,key,'"{}"'.format(value))
    return data
#extracts emails from byte array
def get_emails(result_bytes):
    msgs = []
    for num in reversed(result_bytes[0].split() ):)
        typ, data = con.fetch(num, '(RFC822)')
        msgs.append(data)
    return msgs

con = auth(user,password,imap_url)
con.select('INBOX')
i=-1
result, data = con.fetch('10','(RFC822)')
raw = email.message_from_bytes(data[0][1])
msgs = get_emails(search('SUBJECT','Raport e-mail',con))
msgs1 = get_emails(search('SUBJECT','Counter List',con))
n=0
m=0
def main():
    n=0
    m=0
    for msg1 in msgs1:
        a = ((get_body(email.message_from_bytes(msg1[0][1]))))
        b = (a.decode("latin-1"))


        n=n+1
        if n<500:
            file = open('konica\konica' + str(n)  + '.txt', 'w+', encoding='utf-8')
            file.write(b)
        else:
            for msg in msgs:
                a = ((get_body(email.message_from_bytes(msg[0][1]))))
                b = (a.decode("latin-1"))


                m=m+1
                if m<100:
                    file = open('konica//rother//rother' + str(m)  + '.txt', 'w+', encoding='utf-8')
                    file.write(b)
                else:
                    break



    for msg in msgs:
        a = ((get_body(email.message_from_bytes(msg[0][1]))))
        b = (a.decode("latin-1"))
        file = open('rother//rother' + str(m)  + '.txt', 'w+', encoding='utf-8')
        m=m+1


main()




</pre>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">My code</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>



      <!-- Modal body -->
      <div class="modal-body">
          <pre>
import linecache
import xlwt
import glob
import os
import openpyxl
from xlutils.copy import copy
from xlrd import *

import poplib
import os.path
import difflib

w = copy(open_workbook('trial.xls'))

def check2():

                    datafile1 = f.readlines()
                    for line2 in datafile1:
                        if "[Total Color Counter]" in line2:
                            # found = True # Not necessary
                            return True
def check3():
                    with open(filename) as g:
                        datafile2 = g.readlines()

                        for line3 in datafile2:
                            print("hi")
                            if "Lokalizacja:" in line3:
                                # found = True # Not necessary
                                return line3
def check4():
                    with open(filename) as h:

                        datafile3 = h.readlines()
                        for line4 in datafile3:
                            if "Nr seryjny:" in line4:
                                # found = True # Not necessary
                                return line4
def check5():
                with open(filename) as j:
                    datafile4 = j.readlines()
                    for line5 in datafile4:
                        if "Liczba stron kolorowych:" in line5:
                            # found = True # Not necessary

                            return line5
def check55():
                with open(filename) as x:
                    datafile40 = x.readlines()
                    for line50 in datafile40:
                        if "stron kolorowych" in line50:
                            # found = True # Not necessary
                            print("prawda")
                            return True
def check6():
                with open(filename) as k:
                    datafile5 = k.readlines()
                    for line6 in datafile5:
                        if "Liczba stron monochromatycznych" in line6:
                            # found = True # Not necessary

                            return line6
def check7():
                with open(filename) as l:
                    datafile6 = l.readlines()
                    for line7 in datafile6:
                        if "Licznik stron:" in line7:
                            # found = True # Not necessary

                            return line7
def pobor(j):

    linename_number = 1
    linecounter_number = linename_number + 6
    linename_id_number = linename_number + 2
    linecounterblack_number = linecounter_number + 2
    linecountercolor_number = linecounter_number + 4
    linename = linecache.getline(filename, linename_number)


    try:

        if check2() == True:

                linename = linecache.getline(filename, linename_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r1,t1 =(linename.split(','))
                #print (t1)
                linename_id = linecache.getline(filename, linename_id_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r5,t5 =(linename_id.split(','))
                #print (t5)
                linecounter = linecache.getline(filename, linecounter_number)
                #print ("line %i of %s:" % (linecounter_number, filename))
                r2,t2 =(linecounter.split(','),1)
                #print (t2)
                linecounterblack = linecache.getline(filename, linecounterblack_number)
                #print ("line %i oasdasdaf %s:" % (linecounterblack_number, filename))
                r3,t3 =(linecounterblack.split(','))
                #print (t3)
                linecountercolor = linecache.getline(filename, linecountercolor_number)
                #print ("line %i of %s:" % (linecountercolor_number, filename))
                r4,t4 =(linecountercolor.split(',',1))
                #print (t4)
        else:
                linename = linecache.getline(filename, linename_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r1,t1 =(linename.split(','))
                linename_id = linecache.getline(filename, linename_id_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r5,t5 =(linename_id.split(','))
                #print (t5)
                linecounter = linecache.getline(filename, linecounter_number)
                #print ("line %i of %s:" % (linecounter_number, filename))
                r2,t2 =(linecounter.split(','))
                #print (t2)
                t3=t2
                t4=0
    except:
            if check2() == True:
                linename = linecache.getline(filename, linename_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r1,t1 =(linename.split(','),1)
                #print (t1)
                linename_id = linecache.getline(filename, linename_id_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r5,t5 =(linename_id.split(','))
                #print (t5)
                linecounter = linecache.getline(filename, linecounter_number)
                #print ("line %i of %s:" % (linecounter_number, filename))
                r2,t2 =(linecounter.split(','),1)
                #print (t2)
                linecounterblack = linecache.getline(filename, linecounterblack_number)
                #print ("line %i oasdasdaf %s:" % (linecounterblack_number, filename))
                r3,t3 =(linecounterblack.split(','))
                #print (t3)
                linecountercolor = linecache.getline(filename, linecountercolor_number)
                #print ("line %i of %s:" % (linecountercolor_number, filename))
                r4,t4 =(linecountercolor.split(',',1))
                #print (t4)
            else:
                linename = linecache.getline(filename, linename_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r1,t1 =(linename.split(','),1)
                linename_id = linecache.getline(filename, linename_id_number)
                #print ("line %i of %s:" % (linename_number, filename))
                r5,t5 =(linename_id.split(','))
                #print (t5)
                linecounter = linecache.getline(filename, linecounter_number)
                #print ("line %i of %s:" % (linecounter_number, filename))
                r2,t2 =(linecounter.split(','))
                #print (t2)
                t3=t2
                t4=0
    list1=[t1,t5,t3,t4]
    i=0
    print(list1)

    for n in list1:



                w.get_sheet(0).write(j,i,n)
                i=i+1
                w.save('nowymiesiac.xls')


def poborbro(j):

    #linename_number = 39 licznik
    #linename_number = 17 lokalizacja
    linename_number = 17
    linecounter_number = 39
    linename_id_number = 27
    linename = linecache.getline(filename, linename_number)
    linename_id = linecache.getline(filename, linename_id_number)
    linecounter = linecache.getline(filename, linecounter_number)
    try:
        a1,a2 =(linename.split(':'))
        print(a2)
        b1,b2 =(linename_id.split(':'))
        f1,f2 =(linecounter.split(':'))
        e1=0
        list1=[a2,b2,e1,f2]
    except ValueError:

        if check55() == True:
            print(filename)
            a=[0,0,0,0]
            print((check4()))
            print((check3()))
            a[0] =  ((check3()))
            a[1] =  ((check4()))
            a[2] =  ((check5()))
            a[3] =  ((check6()))
            linename = (a[0])
            linecounter2 = (a[3])
            linecounter3 = a[2]

            linename_id = (a[1])
            print(a)

            a1,a2 =(linename.split(':'))
            h1,h2 =(linecounter2.split(':'))

            b1,b2 =(linename_id.split(':'))
            j1,j2 =(linecounter3.split(':'))
            e1=0
            f2=int(j2)+int(h2)
            print(f2)
            list1=[a2,b2,j2,f2]
        else:
            print(filename)
            print("helo")
            a=[0,0,0,0]
            a[0] =  ((check3()))
            a[1] =  ((check4()))
            a[2] =  ((check5()))
            a[3] =  ((check7()))
            print(check7())
            linename = (a[0])
            linecounter2 = (a[3])
            linecounter4 = a[3]

            linename_id = (a[1])
            z1,z2 =(linecounter4.split(':'))
            a1,a2 =(linename.split(':'))
            b1,b2 =(linename_id.split(':'))
            list1=[a2,b2,0,z2]
    i=0
    for n in list1:
                w.get_sheet(0).write(j,i,n)
                i=i+1
                w.save('nowymiesiac.xls')
j = 0
path = ('konica')
os.chdir(path)
for filename in os.listdir():


        if filename.endswith('.txt'):

            with open(filename) as f:

                print("jestem j",j)
                j=j+1
                pobor(j)
path1 = ('rother')
os.chdir(path1)
for filename in os.listdir():
        if filename.endswith('.txt') :
            with open(filename) as f:

                print("jestem j",j)
                j=j+1
                poborbro(j)





</pre>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

      <div class="modal" id="myModal3">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">My code</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>



      <!-- Modal body -->
      <div class="modal-body">
          <pre>
import linecache
import xlwt
import glob
import os
import openpyxl
from xlutils.copy import copy
from xlrd import *
import xlrd

#k=input("podaj kolumne do wpisywania, gdzie A=0, B=1...")
k=7
#w = copy(open_workbook('trial1.xls'))
lista = []

# To open Workbook
wb = xlrd.open_workbook('nowymiesiac.xls')
sheet = wb.sheet_by_index(0)
i=1
j=1
# For row 0 and column 0
sheet.cell_value(0, 0)

for i in range(sheet.nrows-1):


    lista.append(str(sheet.cell_value(i+1, 1)))
print("hi")
w = copy(open_workbook('nowymiesiac2.xls'))
for j in range(len(lista)):
    n = lista[j]
    for i in range(len(lista)):
        if lista[i] == (n):
            if (sheet.cell_value(i+1, 2)) < (sheet.cell_value(j+1, 2)):
                q=(sheet.cell_value(j+1, 2))
            else:
                q= (sheet.cell_value(i+1, 2))



            w.get_sheet(0).write(i+1,int(k),int(q))
            w.save('wyniknowy.xls')
k=int(k)+1
for j in range(len(lista)):
    n = lista[j]
    for i in range(len(lista)):
        if lista[i] == (n):
            print("elo")
            q1=(sheet.cell_value(j+1, 3))

            w.get_sheet(0).write(i+1,int(k),int(q1))
            w.save('wyniknowy.xls')
print(q)




</pre>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

</body>




{% endblock %}

