{% extends "base.html" %}
{% load static %}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
        <nav id="navbar" class="nav-menu navbar">
            {% block page_content %}
            <nav id="navbar" class="nav-menu navbar">
            <ul>
          <li><a href="{% url 'base' %}" class="back_to_main"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{% url 'gallery' %}" class="back_to_gallery"><i class="bx bx-undo"></i> <span>Gallery</span></a></li>


        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

 <section id="gallery" class="gallery section-bg">

     <div class="text-center">
   <h4>Title: {{ project.title }}</h4>
    </div>

<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>Descriptions:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Painted in:</h5>
        <p>{{ project.years }}</p>
    </div>
</div>

{% endblock %}
