{% extends "base.html" %}
{% load static %}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
        <nav id="navbar" class="nav-menu navbar">
            {% block page_content %}
            <nav id="navbar" class="nav-menu navbar">
            <ul>
          <li><a href="{% url 'base' %}" class=""><i class="bx bx-home"></i> <span>Home</span></a></li>

        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

 <section id="gallery" class="gallery section-bg">

{% if user.is_authenticated %}


    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="text-center">
    <h2>Memes</h2>
        <p>For some time in the past I worked as a meme creator, so here you can take a moment to watch some of them. </p>
    </div>

            {% for meme in memes %}
            <div class="col-6">
            <p class="card-title ">{{ meme.title }}</p>

            <img class="card-img-top" src="{% static meme.image %}" alt="Card image cap">


            </div>



            {% endfor %}
            </section>
            </div>
            </div>
        </div>
    </div>
{% else %}
            <h1>You are not logged in.</h1>
{% endif %}


{% endblock %}

