<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nox site</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style1.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/profile.jpg' %}"  alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'base' %}">Łukasz Adamczyk</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/nox29a/" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/nox29a/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/nox_a_/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/%C5%82ukasz-adamczyk-aa6374199/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
<div class="container">
    {% block page_content %}
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>

        </ul>

            {% if user.is_authenticated %}
            <p>You are log in as: {{ user.username }}</p>
            {% else %}
            <p>You are not logged in.</p>
            {% endif %}
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
      <h1>Łukasz Adamczyk</h1>
      <p>I'm <span class="typed" data-typed-items="a Developer, an Artist, a Content creator"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span></p>
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am looking for new opportunities that will allow me to develop, new inspirations and people with who I can enjoy my time at work. Plus, I'm a big NBA fan, meme expert, sleep and art lover. </p>
        </div>

        <div class="row">
          <div class="col-lg-4" >
            <img src="{% static 'assets/img/profile.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" >
            <h3>Web Developer</h3>
            <p class="fst-italic">

            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 September 1993</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.cv-nox.herokuapp.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+727912364</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Poznań, Poland</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>28</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Collage</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>adamczyk29a@interia.pl</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>I chose to become a Web developer so everyday trying to became better with coding. This is the site im still working on, adding new blocks to portfolio. Also i like to paint, and watch art work of other artists. One day maybe u can watch my works in some gallery.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" >
            <div class="count-box">
              <i class="bi bi-clock"></i>
              <span data-purecounter-start="0" data-purecounter-end="477" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours with code</strong> and counting</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" >
            <div class="count-box">
              <i class="bi bi-cup"></i>
              <span data-purecounter-start="0" data-purecounter-end="314" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Drunk Coffees</strong> and counting</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" >
            <div class="count-box">
              <i class="bi bi-file-earmark-text"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Finished projects</strong> and counting</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" >
            <div class="count-box">
              <i class="bi bi-palette"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Painted pictures</strong> and few incoming soon</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Mostly I work with python and during the interview I can tell you more about my projects. I am willing to improve my skills with machine learning and maybe one day make an app to paint my work with AI. </p>
          <p>Logical problem solving is my characteristic feature and part in my life which I really enjoy which is one of the reason why my programming career has began.   </p>
        </div>

        <div class="row skills-content">

            {% for skill in skills %}
            <div class="col-6">
            <div class="progress">
              <span class="skill">{{ skill.name }} <i class="val">{{ skill.value }}</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow={{ skill.value }} aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            </div>
            {%endfor%}

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I'm looking forward for some offers to grow up as a Developer remotely or hybrid. </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Adamczyk Łukasz</h4>
              <ul>
                <li>Poznan, Poland</li>
                <li>727 912 364</li>
                <li>adamczyk29a@interia.pl</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Poznan University of Technology</h4>
              <h5>2013 - 2017</h5>
              <p><em>Automatic and robotics</em></p>
              </div>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Service technician- Phix Systemy druku</h4>
              <h5>2019 - Present</h5>
              <p><em>Poznan, Poland</em></p>
              <ul>
                <li>Helpdesk</li>
                <li>Installations and configurations devices </li>
                <li>Diagnosis and repairs</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>To build this site, i used bootstrap template and transform it to work as a django project. </p>
          <p>This is the site im still working on, adding new blocks to portfolio, so below you can find some data about my work.  </p>
        </div>



        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% url 'counter' %}" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% url 'gallery' %}" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% url 'bored' %}" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% url 'bot' %}" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="accounts/login" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
          </div>

          {% if user.is_authenticated %}
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% url 'video' %}" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% url 'memes' %}" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
            </div>
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% url 'snake' %}" title="More Details"><i class="bi bi-arrow-up-square-fill"></i></a>
              </div>
            </div>
            </div>
          {% endif %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Contact</h2>
          <p>You can contact me via phone, or can send me a massage with this contact form.</p>
        </div>
        <div class="row" data-aos="fade-in">
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Poznan, Poland</p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>adamczyk29a@interia.pl</p>
              </div>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+48 727-912-364</p>
              </div>
              <iframe src="https://maps.google.com/maps?q=Pozna%C5%84%20poland&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{% url 'contact' %}" method="post" role="form" class="">
               {% csrf_token %}
              <div class="row">

                <div class="form-group ">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <input type="submit" value="Send message" class="btn btn-primary">
            </form>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>